.root {
  @apply grid grid-cols-1 gap-0;

  @apply lg:grid-cols-3 grid-rows-2;
}

.root > * {
  @apply row-span-1 overflow-hidden;
  height: 500px;
  max-height: 800px;

  @apply lg:h-fit;
}

.layoutA {
  color: #5f3dc4;
}

.layoutA {
  color: #37b679;
}
